@import "../../utils/common.scss";

.container {
  .logoSection {
    padding: 10px calc((100% - var(--fixed-width)) / 2);

    @extend .flexRow;
    .moreInfoTest {
      margin-left: auto;
      button {
        margin: 5px;
      }
    }
  }
}
